body{
    background-color: #242424;
    margin: 0%;
}

@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

@keyframes pop{
    0%{
        color: #242424;
        text-align: center;
        font-size: 2vmin;
        font-family: "Varela Round", sans-serif;


    }
    100%{
        color: #f0f0f0;
        text-align: center;
        font-size: 5vmin;
        font-family: "Varela Round", sans-serif;


    }
}

h1{
    color: #f0f0f0;
}

.big{
    animation-delay: 0ms;
    animation-play-state: running;
    animation-name: pop;
    animation-duration: 250ms;
    animation-iteration-count: 1;
    animation-direction: normal;

    color: #f0f0f0;
    text-align: center;
    font-size: 5vmin;
    font-family: "Varela Round", sans-serif;
    
    transition-duration: 250ms;

}